body{
	background-image: url("./assets/img/background.png");
	font-family: 'Open Sans', sans-serif;
}

h2{
	text-align:center;
}
.login-container{
	position:absolute;

	background-color: #F9F9F9;
	height:50vh;
	width:50vw;
	top: 50vh;
	left:50vw;
 	transform: translateY(-50%) translateX(-50%);
}

.rotate-90deg {
    margin: 0;
    padding: 0;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.choice{

}

.error
{
  color: red;
}
.window i {
  font-weight: normal;
}
.window i.icon {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20px;

  background: #02A9F4;
  color: #F1F1F1;
  font-size: 56px;
  transition: all .3s;
}
.window {
  height: 80vh;
  width: 100%;

  background: #F5F5F5;
  overflow:hidden;
  margin-bottom:15px;
}
.window-controls {
  display: flex;
  padding: 10px 5px 10px 15px;

  background: #ebb81e;
  color: white; 
}
.window-controls i {
  font-size: 16px;
  margin-left: 5px;
}
.content {
  padding: 10px 5px 10px 15px;
  border:0;
  height:100%;


}
.conversation-list{
  height: 80vh;
  width: 100%;
  background: #F5F5F5;
  overflow:hidden;
  margin-bottom:15px;
}

.message{      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      border-radius: 10px;
      margin-bottom: 30px;
      width: 30%;
      position: relative;
      background-color: #ebb81e;
}
     
.message-sent{      
      color: white;
      margin-left: 65%;
      padding: 18px 20px;
      line-height: 26px;
      border-radius: 10px;
      margin-bottom: 30px;
      width: 30%;
      position: relative;
      background-color: grey;
}
.message-box{
	  overflow:auto;
	  overflow-y: scroll;
	  height:80%;
	  background-color: 		;
}